@tailwind base;
@tailwind components;
@tailwind utilities;

.my-name {
  view-transition-name: name;
  width: fit-content;
}

.project {
  view-transition-name: project;
  width: fit-content;
}

@supports (view-transition-name: figure-caption) {
  .support .yes {
    display: inline;
  }
  .support .no {
    display: none;
  }
}
